.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(201, 238, 250);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 12px;
    margin: 0 0 16px 0;
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    transition: all 0.2s ease-in-out;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.container:hover {
    box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.4);
}
.children_wrapper {
    display: flex;
    flex-direction:column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
    margin: 8px 0 0 0;
}
.children_wrapper::-webkit-scrollbar {
    width: 10px;
}

.children_wrapper::-webkit-scrollbar-track {
    background-color: rgb(121, 121, 121);
}

.children_wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.container::-webkit-scrollbar {
    width: 10px;
}

.container::-webkit-scrollbar-track {
    background-color: rgb(121, 121, 121);
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.container:hover {
    box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.4);
}
.info {
    display: flex;
    width: 100%;
}
.checkbox {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 0;
}
.label {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 16px 0 0;
    cursor: pointer;
}
.label:hover {
    text-decoration: underline;
}
.group_button {
    background-image: url('../../images/network.svg');
    background-size: 20px 17px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    display: flex;
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0; 
    transform: rotate(90deg);
    margin: 0 16px 0 0;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
}
.flipped {
    transform: rotate(270deg)
}
.group_button:hover {
    background-color: rgba(0,0,0, 0.1)
}
