.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px);
    background-color: rgb(255, 240, 153);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0px 0px 0px 0px rgb(253, 237, 146);
    transition: all 0.2s ease-in-out;
    margin: 12px 0 0 0;


}
.container_expanded {
    height: 100%;
    overflow-y: auto;
    min-height: 250px;
}
.container_onTop {
    margin: 0 0 16px 0;
    width: 100%;
    box-shadow: 0px 0px 8px 2px  rgba(34, 60, 80, 0.2);
}
.children_wrapper {
    display: flex;
    flex-direction:column;
    width: calc(100% - 24px);
    overflow-y: auto;
    padding: 12px;
    max-height: 400px;
    margin: 0 0 0 0;
}
.children_wrapper::-webkit-scrollbar {
    width: 10px;
}

.children_wrapper::-webkit-scrollbar-track {
    background-color: rgb(121, 121, 121);
}

.children_wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
.container:hover {
    box-shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.4);
}
.info {
    display: flex;
    width: 100%;
}
.info_expanded {
    padding-bottom: 8px;
}

.container:hover {
    box-shadow: 0px 0px 12px 4px rgb(255, 217, 5);
}

.checkbox {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0 16px 0 0;
    cursor: pointer;
}
.label {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    cursor: pointer;
}
.label:hover {
    text-decoration: underline;
}
.button {
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;
    white-space: nowrap;
}
.button:hover {
    border: 2px solid white;
    background-color: rgb(255, 255, 255);
    color: #000
}
/* .button_container {
    position: relative;
} */