.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 24px);
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
    margin: 0 0 16px 0;
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
    margin: 4px 0 0 0;

}
.info {
    display: flex;
    width: 100%;
    align-items: center;
}

.container:hover {
    box-shadow: 0px 0px 12px 4px rgb(155, 155, 155);
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0 16px 0 0;
    cursor: pointer;
}
.label {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    text-align: start;

}
.statistics_wrapper {
    font-size: 14px;
}
.button {
    border: 2px solid red;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: red;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #fff;
    white-space: nowrap;
}
.button:hover {
    border: 2px solid rgb(202, 202, 202);
    background-color: rgb(202, 202, 202);
    color: #000;
}
/* .button_container {
    position: relative;
} */